/* filepath: /Users/nicholasimmenschuh/Documents/Computer Science/Individual Projects/StreetKnits/src/app/globals.css */

/* Fonts */ 
@font-face {
  font-family: Typewriter-Serial-Regular;
  src: url('/Typewriter-Serial-Regular.woff2') format('woff2'),
       url('/Typewriter-Serial-Regular.woff') format('woff'),
       url('/Typewriter-Serial-Regular.ttf') format('truetype');
}

/* All Pages */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #9BDEEF;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

nav {
  font-size: 3vw;
  font-family: 'Typewriter-Serial-Regular', 'Courier New', Georgia, Garamond, serif;
  background-color: #9BDEEF;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.7vw;
  padding-right: 2.7vw;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.navbar-logo-image {
  width: 5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.25vw;
  padding-right: 0.5vw;
}

.navbar-logo-text{
  color: #FFFFFF;
  transition: text-shadow 0.3s ease; /* Add a smooth transition */
}

.navbar-logo-text:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow on hover */
}

.navbar-links {
  display: flex;
  gap: 2.7vw;
}

.navbar-links a{
  color: #FFFFFF;
  transition: text-shadow 0.4s ease; /* Add a smooth transition */
}

.navbar-links :hover { /* Corrected selector */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

h1 {
  color: #FFFFFF;
  font-Size: 11vw;
  font-family: 'Typewriter-Serial-Regular', 'Courier New', Georgia, Garamond, serif;
}

p {
  font-size: 3vw;
  font-family: Avenir, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
}

footer p {
  color: #ffffff;
  font-size: 2vw;
  text-align: center;
  display: inline-block;
}

/* Home Page */
#homePageNavBarStreetKnitsText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#homePageContainer main{
  background-color: #6B892B;
  background-image: url(/homePageBackground39.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 64px;
  text-align: center;
  min-height: 100vh;
}

#homePageContainer footer {
  background-color: #99C440;
}

#homePageBackgroundContainer h1 {
  color: #9BDEEF;
  padding-top: 40vw;
}

#homePageBackgroundContainer p { 
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  display: inline-block;
}

/* Donate Page */
#donatePageNavBarDonateText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#donatePageContainer main{
  background-color: #6B892B;
  background-image:  url(/donatePageBackground58.svg);
  padding-top: 64px;
  background-size: cover;
  background-repeat: no-repeat;
}

.cloudScalableVectorGraphicContainer {
  position: relative;
  text-align: center;
}

.cloudScalableVectorGraphicContainer p, .cloudScalableVectorGraphicContainer h1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#donatePageCloud1Container {
  left: 28%;
  width: 70%;
}

#donatePageCloud1Container p {
  height: 60%;
  width: 70%;
  color: #F49BAD;
  text-align: center;
}

#donatePageCloud2Container {
  left: 1%;
  width: 90%;
}

#donatePageCloud2Container p {
  color: #89B7B7;
  height: 50%;
  width: 85%;
}

#donateSignContainer {
  position: relative;
  margin-top: 18%;
  width: 92%;
  left: 4%;
  bottom: 20px;
}

#donateSignContainer table {
  position: absolute;
  font-size: 2.5vw;
  font-family: Avenir, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82%;
}

table, td {
  border-top: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
}

th {
  border-left: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
}

thead th:last-child {
  border-right: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
}

table tr td:last-child {
  border-right: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border-left: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
}

/* bottom-left border-radius on donation table*/
table tr:last-child td:first-child {
  border-bottom: 0.6vw solid rgb(255, 255, 255);
  border-left: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
  border-bottom-left-radius: 2.2vw;
}

/* bottom border-radius on donation table*/
table tr:last-child td{
  border-bottom: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
}

/* bottom-right border-radius on donation table*/
table tr:last-child td:last-child {
  border-right: 0.6vw solid rgb(255, 255, 255);
  border-collapse: separate;
  border-spacing: 0;
  border-bottom-right-radius: 2.2vw;
}

#donateSignContainer table caption {
  border-left: 0.6vw solid rgb(255, 255, 255);
  border-right: 0.6vw solid rgb(255, 255, 255);
  border-top: 0.6vw solid rgb(255, 255, 255);
  border-top-right-radius: 2.2vw;
  border-top-left-radius: 2.2vw;
  font-Size: 6vw;
  font-family: 'Typewriter-Serial-Regular', 'Courier New', Georgia, Garamond, serif;
  text-align: center;
}

#donateSignContainer h1 {
  font-family: Avenir, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2.7vw;
  position: absolute;
  text-align: center;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#donateSignContainer table thead {
  text-align: center;
}

#donatePageContainer footer {
  background-color: #99C440;
}

/* Contact Page */
#contactPageContainer main {
  background-color: #DAF1F7;
  padding-top: 64px;
}

#contactPageNavBarContactText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#contactPageCloud1Container {
  top: 2%;
  left: 5%;
  width: 70%;
}

#contactPageCloud1Container p {
  color: #F1894C;
  width: 80%;
  height: 60%;
}

#contactPageCloud2Container {
  left: 45%;
  width: 50%;
}

#contactPageCloud2Container h1 {
  color: #C691AA;
  font-family: Avenir, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3vw;
  font-weight: normal;
  height: 70%;
  
}

#contactPageCloud2Container p {
  color: #89B7B7;
  position: absolute;
}

#contactPageCloud3Container {
  left: 4%;
  width: 50%;
}

#contactPageCloud3Container p {
  color: #F49BAD;
  position: absolute;
  text-align: center;
  width: 80%;
  height: 60%;
}

#contactPageCloud4Container {
  bottom: 20px;
  left: 30%;
  width: 50%;
}

#contactPageCloud4Container iframe {
  position: absolute;
  border: none; 
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
}


#contactPageContainer footer {
  background-color: #9BDEEF;
}